@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

:root {
  --primary-color: #3b5d8f;
  --secondary-color: #6688cc;
  --text-dark: #0f172a;
  --text-light: #acbfe6;
  --white: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 4500px;
  font-family: "Poppins", serif;
  font-style: normal;
  background-color: #3b5d8f;
  color: white;
}
li {
  list-style: none;
}
article {
  background-color: #3b5d8f #6688cc #acbfe6;
}
a {
  text-decoration: none;
  color: #acbfe6;
}
h2 {
  font-size: 36px;
}
.section__card > h5 {
  color: white;
}
section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo2 {
  display: none;
}
header {
  display: flex;
  flex-direction: column;
  background-image: url("../Materail/img1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
.section-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.upper-img {
  width: 350px;
  height: 350px;
  border-radius: 50%;
}
.upper-header {
  display: flex;
  justify-content: space-between;
  height: 20vh;
  background-color: transparent;
  color: white;
}
.upper-header.sticky {
  position: fixed;
  z-index: 2;
  top: 0px;
  width: 100%;
  background-color: #3b5d8f;
  height: 10vh;
  box-shadow: rgb(6, 0, 38) 1px 1px 1px 1px;
}
.upper-header > nav {
  height: 100%;
  font-size: 20px;
  align-items: center;
  gap: 25px;
  display: none;
  font-weight: 700;
  list-style: none;
  justify-content: end;
  margin-right: 40px;
}
.upper-header > nav > li > a:hover {
  color: white;
}
.lower-header {
  color: #c7d3eb;
  height: 80vh;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}
.lower-header__left {
  font-size: 22px;
  text-align: center;
}
.upper-header__logo {
  display: none;
  height: 100%;
  align-items: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 700;
  margin-left: 20px;
}
.upper-header__logo > div {
  background-image: url(../Materail/anas.PNG);
  background-size: contain;
  background-repeat: no-repeat;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.section-aboutme {
  font-weight: 500;
  margin-top: 70px;
  padding: 0 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.section-aboutme p {
  width: 60%;
  text-align: center;
}
.section-aboutme__imgs {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.section-aboutme__imgs img {
  width: 250px;
  background-color: #6688cc;
  padding: 30px 30px;
  border-radius: 24px;
  height: 250px;
  object-fit: contain;
}
.section-skills {
  background-image: url("../Materail/img1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.section-skills > div:nth-child(1) {
  height: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-skills > div:nth-child(1) > h2 {
  text-align: center;
}
.section-skills__first {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates 4 equal-width columns */
  grid-template-rows: 1fr; /* Ensures there's only one row */
  height: 100%;
  align-items: center;
  padding: 0 20px;
  gap: 20px; /* Optional: Adds space between the columns */
}
.section-skills__first > div {
  text-align: center;
}
.section-skills__first > div:nth-child(3) > img {
  background-color: white;
  padding: 10px;
  border-radius: 24px;
  margin-bottom: 40px;
}

.services-list {
  display: flex;
  gap: 50px;
  padding: 0;
}
.services-list > div {
  position: relative;
  display: flex;
}
.services-list > div > img:hover {
  opacity: 0.3;
}
.services-list > div > img {
  width: 400px;
  border-radius: 50%;
  height: 400px;
}
.services-list > div > p {
  position: absolute;
  border-radius: 24px;
  bottom: 150px;
  margin: 0 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  font-size: 18px;
}

.workexp {
  flex-direction: row;
  justify-content: space-evenly;
  background-image: url("../Materail/img1.PNG");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.timeline {
  width: 600px;
  height: 100%;
  position: relative;
}
.timeline > div:nth-child(2) {
  margin-bottom: 10px;
}
.timeline::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 6px;
  background: #fff;
  left: 25%; /* Centers the line horizontally */
  margin-left: -3px; /* Adjusts the line to be perfectly centered */
}

.container {
  padding: 10px 10px;
  position: relative;
  width: 50%;
  height: 200px;
}
.container img {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 0;
  top: 30%;
  border-radius: 50%;
  border: black solid 1px;
}
.container:nth-child(3) img {
  width: 40px;
  height: 40px;
  border-radius: 0px;
}
.container h2 {
  font-size: 14px;
}
.container p {
  font-size: 12px;
}
.left {
  left: 0;
  height: 200px;
}

.right {
  left: 0px;
  height: 200px;
}

.content {
  padding: 3px 20px;
  background: #fff;
  color: black;
  border-radius: 6px;
}

.section-test {
  max-width: 1200px;
  margin: auto;
  padding: 2rem 1rem;
  text-align: center;
}

.section__test h2 {
  position: relative;
  margin-bottom: 2rem;
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.section__test h1::after {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 2px;
  width: 5rem;
  background-color: var(--primary-color);
}

.section__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.section__card {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--primary-color);
  padding: 5px;
  border-radius: 10%;
}
.section__card h6 {
  text-align: center;
}
.section__card > p {
  width: 250px;
  text-align: center;
}
.test-upper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.test-upper > div {
  height: 3px;
  width: 90%;
  background-color: black;
}
.section__test {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  padding: 5rem 3rem;
  background-image: url(../Materail/back3.PNG);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.section__test span {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  font-size: 3rem;
  color: var(--white);
}

.section__test h4 {
  margin-top: 4rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: white;
  font-weight: 600;
  transition: 0.3s;
}

.section__test p {
  margin-bottom: 2rem;
  color: var(--text-light);
  transition: 0.3s;
}

.section__test img {
  margin-bottom: 1rem;
  max-width: 100px;
  border-radius: 100%;
  border: 2px solid var(--primary-color);
  transition: 0.3s;
}

.section__test h5 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--primary-color);
  transition: 0.3s;
}

.section__test h6 {
  font-size: 1rem;
  font-weight: 400;
  color: var(--text-light);
  transition: 0.3s;
}

.section__test:hover img {
  border-color: var(--white);
}

.enquiry-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  width: 100%;
  height: 100vh;
}

.enquiry-section__first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.enquiry-section__first h2 {
  font-size: 48px;
  margin-bottom: 20px;
}

.enquiry-section__first p {
  font-size: 16px;
  margin-bottom: 50px;
}
.section__card > h5{
  color: white;
}
.enquiry-section__inputs {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.enquiry-section__inputs input {
  font-size: 16px;
  padding: 10px 5px;
  width: 200px;
}

.enquiry-section__textarea textarea {
  font-size: 16px;
  padding: 10px;
  width: 865px;
  resize: none;
}

.enquiry-section__btn {
  margin-top: 20px;
  border-radius: 24px;
  background-color: pink;
  padding: 8px 20px;
  color: white;
  cursor: pointer;
}
.enquiry-section__btn h2 {
  font-size: 20px;
  margin: 0px;
}

.enquiry-section__btn:hover {
  background-color: white;
  color: black;
  border: 2px solid pink;
}
.section__test {
  justify-content: space-between;
}
footer {
  background-color: black;
  height: 300px;
}
.footerContainer {
  width: 90%;
  padding: 70px 30px 20px;
}
.socialIcons {
  display: flex;
  justify-content: center;
}
.socialIcons a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  margin: 10px;
  border-radius: 50%;
}
.socialIcons a i {
  font-size: 2em;
  color: black;
  opacity: 0, 9;
}
/* Hover affect on social media icon */
.socialIcons a:hover {
  background-color: #111;
  transition: 0.5s;
}
.socialIcons a:hover i {
  color: white;
  transition: 0.5s;
}
.footerNav {
  margin: 30px 0;
}
.footerNav ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.footerNav ul li a {
  color: white;
  margin: 20px;
  text-decoration: none;
  font-size: 1.3em;
  opacity: 0.7;
  transition: 0.5s;
}
.footerNav ul li a:hover {
  opacity: 1;
}
.footerBottom {
  background-color: #000;
  padding: 20px;
  text-align: center;
}
.footerBottom p {
  color: white;
}
.designer {
  opacity: 0.7;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 400;
  margin: 0px 5px;
}

/* Mobile version */
@media screen and (max-width: 700px) {
  body {
    height: 7000px;
  }
  .upper-img {
    height: 300px;
    width: 300px;
  }
  h1 {
    font-size: 36px;
  }
  .upper-header > nav {
    display: none;
  }
  .upper-header__logo {
    display: none;
  }
  .logo2 {
    display: none;
  }
  .fa-bars {
    font-size: 24px;
  }
  .lower-header {
    flex-direction: column-reverse;
    justify-content: center;
    height: 100%;
  }
  .section-first {
    height: 1200px;
  }
  .section-aboutme {
    flex-direction: column;
    padding: 0 5px;
  }
  .section-skills {
    height: 1600px;
  }
  .section-aboutme > p {
    width: 100%;
  }
  .section-aboutme__imgs {
    flex-direction: column;
  }
  .section-skills__first {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    padding: 0;
    width: 97%;
  }
  .section-skills__first > div {
    background-color: white;
    color: var(--primary-color);
    padding: 40px 10px;
    border-radius: 15px;
  }
  .services-list {
    flex-direction: column;
  }
  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fff transparent transparent;
  }

  .left::after,
  .right::after {
    left: 15px;
    z-index: 1;
  }

  .right {
    left: 0;
  }

  .enquiry-section__inputs input {
    width: 310px;
  }
  .enquiry-section__textarea {
    columns: 2;
    width: 320px;
  }
  .enquiry-section__textarea textarea {
    width: 320px;
    font-size: 22px;
    padding: 0;
  }
  .services {
    height: 1100px;
  }
  .services-list > div > img {
    width: 320px;
    height: 320px;
  }
  .workexp {
    flex-direction: column-reverse;
  }
  .timeline {
    flex-direction: column;
    width: 98%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .container {
    padding: 0px;
    width: 350px;
  }
  .timeline::before {
    left: 50%;
  }
  .enquiry-section {
    height: 900px;
  }
  .logo2 {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-right: 10px;
  }
  .logo2 {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: 10px;
  }

  .test-upper > h2 {
    text-align: center;
  }
  .section__grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .section__test {
    height: 1900px;
    justify-content: center;
    gap: 50px;
  }
  .footerNav ul {
    flex-direction: column;
  }
  .footerNav ul li {
    width: 100%;
    text-align: center;
    margin: 10px;
  }
  .footerContainer {
    padding-left: 0px;
    padding-right: 0px;
  }
  .socialIcons a {
    padding: 8px;
    margin: 4px;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .enquiry-section__inputs {
    flex-direction: column;
    align-items: center;
    padding-left: 0px !important;
    width: 100%;
  }
}
